<div class="oa-login-container" ng-controller="loginMain">
    <div class="oa-login">
        <span class="oa-login-title">Sign in</span>
        <input type="text" placeholder="login/email" class="oa-login-email" id="oa-login-email" autofocus="true"/>
        <input type="password" placeholder="password" class="oa-login-pass" id="oa-login-pass"/>
        <input type="button" value="Login" class="oa-login-submit" id="oa-login-submit"/>
    </div>
</div>