<div class="oa-main-page" ng-controller="statMain">
    <div class="oa-main-header-container">
        <div class="oa-main-header">
            <div class="oa-main-header-settings">
                <input type="button"/>
            </div>
            <div class="oa-main-header-client">{{name}}</div>
        </div>
    </div>
    <div class="oa-main-body-container">
        <div class="oa-main-body">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Витрати</a></li>
                    <li><a href="#tabs-2">Доходи</a></li>
                </ul>
                <div id="tabs-1" class="oa-tab-page">
                    <div class="oa-main-ex-contents" id="oa-main-ex-contents">
                        <span class="oa-main-ex-contents-title">Доступні звіти</span>
                        <ul class="oa-ex-contents">
                            <li class="oa-ex-contents-item" data-report="r1" id="r1">
                                <img  class="oa-ex-contents-item-img" src="../images/line-chart.png"/>
                                <span class="oa-ex-contents-item-title">Загальний звіт</span>
                                <span class="oa-ex-contents-item-description">Відображення Ваших витрат за весь період користування додатком.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r2" id="r2">
                                <img  class="oa-ex-contents-item-img" src="../images/bar-chart.png"/>
                                <span class="oa-ex-contents-item-title">Річний звіт</span>
                                <span class="oa-ex-contents-item-description">Відображення Ваших витрат за весь період користування додатком (по рокам).</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r3" id="r3">
                                <img  class="oa-ex-contents-item-img" src="../images/bar-chart.png"/>
                                <span class="oa-ex-contents-item-title">Місячний звіт</span>
                                <span class="oa-ex-contents-item-description">Відображення Ваших витрат за весь період користування додатком (помісячно).</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r4" id="r4">
                                <img  class="oa-ex-contents-item-img" src="../images/bar-chart.png"/>
                                <span class="oa-ex-contents-item-title">Тижневий звіт</span>
                                <span class="oa-ex-contents-item-description">Відображення Ваших витрат за весь період користування додатком (по тижням).</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r5" id="r5">
                                <img  class="oa-ex-contents-item-img" src="../images/pie-chart.png"/>
                                <span class="oa-ex-contents-item-title">Звіт за категоріями</span>
                                <span class="oa-ex-contents-item-description">Відображення Ваших витрат за категоріями.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r6" id="r6">
                                <img  class="oa-ex-contents-item-img" src="../images/table.png"/>
                                <span class="oa-ex-contents-item-title">Топ-лист</span>
                                <span class="oa-ex-contents-item-description">Топ-список ваших витрат.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="oa-main-ex-charts" id="oa-main-ex-charts">
                        <span class="oa-main-ex-chart-zone-l1">Перенесіть потрібний звіт</span>
                        <span class="oa-main-ex-chart-zone-l2">у цю зону зі списку</span>
                        <span class="oa-main-ex-chart-zone-l3">(або клікніть по потрібному звіту)</span>
                    </div>
                </div>
                <div id="tabs-2" class="oa-tab-page">
                    <div class="oa-main-inc-contents" id="oa-main-inc-contents">
                        <span class="oa-main-inc-contents-title">Доступні звіти</span>
                        <ul class="oa-inc-contents">
                            <li class="oa-inc-contents-item" data-report="ri1" id="ri1">
                                <img  class="oa-inc-contents-item-img" src="../images/line-chart.png"/>
                                <span class="oa-inc-contents-item-title">Звіт доходів</span>
                                <span class="oa-inc-contents-item-description">Відображення Ваших доходів за весь період користування додатком.</span>
                            </li>
                            <li class="oa-inc-contents-item" data-report="ri2" id="ri2">
                                <img  class="oa-inc-contents-item-img" src="../images/line-chart.png"/>
                                <span class="oa-inc-contents-item-title">Звіт доходів та витрат</span>
                                <span class="oa-inc-contents-item-description">Відображення Ваших доходів за весь період користування додатком.</span>
                            </li>
                            <li class="oa-inc-contents-item" data-report="ri3" id="ri3">
                                <img  class="oa-inc-contents-item-img" src="../images/dollar.png"/>
                                <span class="oa-inc-contents-item-title">Додати надходження</span>
                                <span class="oa-inc-contents-item-description">Додайте нове грошове надходження, для подальшої побудови порівняння витрат та доходів.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="oa-main-inc-charts" id="oa-main-inc-charts">
                        <span class="oa-main-ex-chart-zone-l1">Перенесіть потрібний звіт</span>
                        <span class="oa-main-ex-chart-zone-l2">у цю зону зі списку</span>
                        <span class="oa-main-ex-chart-zone-l3">(або клікніть по потрібному звіту)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>