<div class="oa-reg-container" ng-controller="regMain">
    <div class="oa-reg">
        <span class="oa-reg-title">Sign up</span>
        <input type="text" placeholder="login/email" class="oa-reg-email" autofocus="true" id="oa-reg-email"/>
        <input type="password" placeholder="password" class="oa-reg-pass" id="oa-reg-pass"/>
        <input type="password" placeholder="confirm password" class="oa-reg-confirm-pass" id="oa-reg-conf-pass"/>
        <input type="text" placeholder="first name" class="oa-reg-fname" id="oa-reg-fname"/>
        <input type="text" placeholder="last name" class="oa-reg-lname" id="oa-reg-lname"/>
        <input type="button" value="Register" class="oa-reg-submit" id="oa-reg-submit"/>
    </div>
</div>