<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Intelligent Expenses Tracker{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "style/main.css" %}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
