{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Intelligence Expenses Tracker" %}{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="oa-start-page">
        <div class="oa-header-container">
            <div class="oa-header">
                <ul class="oa-tab">
                    <li>Контакти</li>
                </ul>
            </div>
        </div>
        <div class="oa-main-container">
            <div class="oa-main">
                <div class="oa-main-image-container"></div>
                <div class="oa-main-forms-container">
                    <div class="oa-main-forms">
                        <div class="oa-main-forms-title-container">
                            <div class="oa-main-forms-title">Використовуйте гроші ефективно</div>
                            <div class="oa-main-forms-title">використовуючи <a href="#">IE-Tracker</a></div>
                        </div>
                        <div class="oa-main-forms-button">
                            <a href="{% url 'registration_register' %}" id="oa-main-forms-sign-up">Зареєструватися</a>
                        </div>
                        <div class="oa-main-forms-bottom">або <a href="{% url 'auth_login' %}" id="oa-main-forms-sign-in">війти</a></div>
                        <div class="oa-main-forms-download" role="button">
                            <img src="{% static "images/apple-icon.png" %}"/>
                            <span class="oa-main-forms-download-first">Завантажити з</span>
                            <span class="oa-main-forms-download-second">AppStore</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oa-footer-container">
            <div class="oa-footer">
                <div class="oa-step">
                    <div class="oa-step-title"><a href="#/guide#a1">Реєстрація</a></div>
                    <div class="oa-step-text">Зареєструйтеся на цьому сайті, завантажнте мобільний додаток, та використовуйте його для керування витратами.</div>
                </div>
                <div class="oa-step">
                    <div class="oa-step-title"><a href="#/guide#a4">Фото чеку</a></div>
                    <div class="oa-step-text">Після встановлення мобільного додатку, авторизуйтесь у ньому, використовуючи логін та пароль, отримані при реєстрації на сайті. Зробіть своє перше фото чеку.</div>
                </div>
                <div class="oa-step">
                    <div class="oa-step-title"><a href="#/guide#a5">Зберігання</a></div>
                    <div class="oa-step-text">Збережіть та розпізнайте сфотографований чек. Синхронізуйте дані мобільного додатку із своїм IET-профілем.</div>
                </div>
                <div class="oa-step">
                    <div class="oa-step-title"><a href="#/guide#a6">Звіти</a></div>
                    <div class="oa-step-text">Користуйтеся веб-додатком для отримання аналітичних звітів. Після синхронизації даних мобільного додатку та IET-профілю Ви можете користуватися веб-звітами.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
