{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Intelligence Expenses Tracker" %}{% endblock %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "js/bower_components/jquery-ui/jquery-ui.css" %}"/>
    <script src="{% static "js/hero.js" %}"></script>
    <script type="text/javascript"
            data-main="{% static "js/app/main.js" %}"
            src="{% static "js/bower_components/requirejs/require.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="logout-block">
    {% if user.is_authenticated %}
        <a class="logout-button" href="{% url 'auth_logout' %}">Log out</a>
        <span class="username">{{ user.get_username }}</span>
    {% endif %}
    </div>
    <div class="oa-container" ng-view></div>
{% endblock %}
