html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Arial;
}

.oa-start-page{
    width: 100%;
    height: 100%;
}

.oa-header-container{
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
}

.oa-header,
.oa-main,
.oa-footer{
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    background-color: #eeeeee;
}

.oa-footer{
    text-align: center;
}

.oa-main-container{
    width: 100%;
    height: calc(100% - 40px - 150px);
    min-height: 477px;
    background-color: #eeeeee;
}

.oa-footer-container{
    width: 100%;
    height: 150px;
    background-color: #eeeeee;
}

.oa-tab{
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 10px;
}

.oa-tab li{
    display: inline-block;
    font-size: 12px;
    margin-top: 12px;
    color: #FF6D00;
    padding: 2px 20px;
    font-weight: 700;
}

.oa-tab li:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}

.oa-step{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    margin-right: 5%;
}

.oa-step:last-child{
    margin: 0;
}

.oa-step-title a{
    height: 40px !important;
    line-height: 40px !important;
    text-align: center !important;
    color: #FF6D00 !important;
    font-size: 18px;
    font-weight: 700;
}

.oa-step-text{
    height: calc(100% - 40px - 10px);
    padding-bottom: 10px;
    font-size: 12px;
}

.oa-main-image-container{
    display: inline-block;
    width: 600px;
    height: 100%;
    background-color: #eeeeee;
    background-image: url('../images/start21.jpg');
    background-repeat: no-repeat;
    background-position: center right;
}

.oa-main-forms-container{
    display: inline-block;
    width: 500px;
    height: 100%;
    background-color: #eeeeee;

    position: relative;
}

.oa-main-forms{
    display: block;
    width: 400px;
    height: 200px;
    margin: auto 0 auto 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.oa-main-forms-title{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #777777;
}

.oa-main-forms-title a{
    color: #FF6D00;
    text-decoration: none;
}

.oa-main-forms-button{
    margin-top: 10px;
    text-align: center;
}

.oa-main-forms-button a{
    display: block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    background: #FF6D00;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    text-decoration: none;
}

.oa-main-forms-button a:hover{
    cursor: pointer;
    background:  #FF7E00;
}

.oa-main-forms-bottom{
    font-size: 14px;
    font-weight: 700;
    color: #777777;
    margin-top: 10px;
    text-align: center;
}

.oa-main-forms-bottom a{
    text-decoration: none;
    color: #FF6D00;
}

.oa-main-page{
    width: 100%;
    height: 100%;
    min-height: 667px;
    background-color: #eeeeee;
}

.oa-main-header-container{
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
}

.oa-main-header{
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.oa-main-header-client{
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.oa-main-header-settings{
    float: left;
    height: 40px;
    line-height: 40px;
}

.oa-main-header-settings input{
    height: 26px;
    width: 26px;
    margin-top: 7px;
    box-sizing: border-box;
    background-image: url('../images/settings.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #dddddd;
    border: 0;
    border-radius: 0;
    border: 1px solid #c1c1c1;
}

.oa-main-header-settings input:hover{
    cursor: pointer;
    background-color: #cccccc;
}

.oa-main-body-container{
    width: 100%;
    height: calc(100% - 40px);
    min-height: 624px;
}

.oa-main-body{
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    background-color: white;
}

.oa-main-body{
    font-size: 0;
}

#tabs{
    height: calc(100% - 7px);
    min-height: 620px;
    font-size: 12px;
    border-radius: 0;
}

#tabs ul{
    border-radius: 0;
    background-color: #eeeeee;
}

#tabs li{
    border-radius: 0;
}

.ui-state-active{
    background-color: #FF6D00 !important;
    border: 1px solid #777777 !important;
    border-bottom: 0 !important;
}

#tabs li a{
    color: #555555 !important;
}

#tabs-1,
#tabs-2,{
    min-width: 400px;
    height: 400px;
    margin: 0 auto
}

.oa-login-container,
.oa-reg-container{
    height: 100%;
}

.oa-login,
.oa-reg{
    margin: 30px auto;
    width: 300px;
    background-color: #eeeeee;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(119,119,119,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(119,119,119,1);
    box-shadow: 0px 0px 10px 0px rgba(119,119,119,1);
}

.oa-login-title,
.oa-reg-title{
    display: inline-block;
    font-size: 22px;
    font-family: Arial;
    margin-bottom: 10px;
    color: #FF6D00;
    font-weight: 700;
}

.oa-login-email,
.oa-login-pass,
.oa-reg-email,
.oa-reg-pass,
.oa-reg-confirm-pass,
.oa-reg-fname,
.oa-reg-lname{
    display: block;
    width: 100%;
    height: 29px;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 5px;
}

.oa-login-pass,
.oa-reg-pass,
.oa-reg-confirm-pass,
.oa-reg-fname,
.oa-reg-lname{
    margin-top: 10px;
}

.oa-login-submit,
.oa-reg-submit{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #FF6D00;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 10px;
}

.oa-reg-submit:hover{
    cursor: pointer;
    background-color: #FF7E00;
}

#tabs-1,
#tabs-2{
    font-size: 0;
    padding: 0 !important;
    position: relative;
}

.oa-main-ex-contents,
.oa-main-inc-contents{
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin: 10px;
    border-right: 1px solid #c1c1c1;
    font-size: 10px;
    font-family: Arial;
    box-sizing: border-box;
    padding: 0 5px;
}

.oa-ex-contents,
.oa-inc-contents{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 5px;
    background-color: #ffffff !important;
}

.oa-ex-contents li,
.oa-inc-contents li{
    min-height: 38px;
    font-size: 0;
    padding: 3px;
    background-color: #fafafa !important;
    margin-bottom: 3px;
}

.oa-ex-contents li:hover,
.oa-inc-contents li:hover{
    cursor: pointer;
    background-color: #efefef !important;
}

.oa-tab-page{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: calc(100% - 30px) !important;
}

.oa-main-ex-charts,
.oa-main-inc-charts{
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 10px 0;
    width: calc(100% - 300px - 30px);
    height: calc(100% - 20px);
    background-color: #fcfcfc;
    border: 2px dashed #c1c1c1;
    box-sizing: border-box;

    overflow: auto;
}

.oa-main-ex-contents-title,
.oa-main-inc-contents-title{
    font-size: 14px;
    font-weight: 700;
}

.oa-ex-contents-item,
.oa-inc-contents-item{
    z-index: 9999;
}

.oa-ex-contents-item-img,
.oa-inc-contents-item-img{
    display: inline-block;
    float: left;
    margin-right: 3px;
    background-color: #ffffff;
}

.oa-ex-contents-item-title,
.oa-inc-contents-item-title{
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    font-weight: 700;
}

.oa-ex-contents-item-description,
.oa-inc-contents-item-description{
    display: inline-block;
    width: calc(100% - 35px);
    font-size: 11px;
    font-style: italic;
}

.oa-main-ex-chart-zone-l1,
.oa-main-ex-chart-zone-l2,
.oa-main-ex-chart-zone-l3{
    display: block;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #777777;
}

.oa-main-ex-chart-zone-l1{
    margin-top: 100px;
}

.oa-main-ex-chart-zone-l3{
    font-size: 22px;
}

.oa-main-ex-chart-r1-details{
    height: 20px;
    padding: 10px;
}

.oq-main-ex-r1-tab{
    font-size: 12px;
    border-collapse: collapse;
}

.oq-main-ex-r1-tab thead{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #FF6D00;
}

.oq-main-ex-r1-tab td{
    padding: 0 30px 0 5px;
}

.oq-main-ex-r1-tab tbody tr{
    height: 30px;
}

.oq-main-ex-r1-tab tbody tr:nth-of-type(2n+1){
    background-color: #FFF0E6;
}

.oa-chart-container,
.oa-chart-container-r2-details,
.oa-chart-container-r3-details,
.oa-chart-container-r4-details,
.oa-chart-container-r5-details{
    width: 92%;
    margin: 5px auto;
}

#accordeon h3{
    font-size: 14px !important;
    font-weight: 700 !important;
    border-radius: 0;
}

#accordeon div{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.oa-main-ex-top-table{
    font-size: 10px;
}

.oa-main-ex-top-table thead td{
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    padding: 0 30px 0 0;
    color: #FF6D00;
}

.oa-main-ex-top-table tbody tr:nth-of-type(2n + 1){
    background-color: #FFF0E6;
}

.oa-main-forms-download{
    font-size: 0;
    margin: 0 auto;
    width: 170px;
    height: 44px;
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #333333 0%, #666666 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#333333), color-stop(100%,#666666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #333333 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #333333 0%,#666666 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #333333 0%,#666666 100%); /* IE10+ */
    background: linear-gradient(45deg,  #333333 0%,#666666 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #333333;
    border-radius: 4px;
    margin-top: 25px;
}

.oa-main-forms-download:hover{
    cursor: pointer;
}

.oa-main-forms-download img{
    margin: 5px;
    float: left;
}

.oa-main-forms-download-first,
.oa-main-forms-download-second{
    display: inline-block;
    width: calc(100% - 15px - 32px);
    font-size: 14px;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
    height: 22px;
    line-height: 22px;
}

.oa-main-forms-download-second{
    font-size: 16px;
    font-weight: 700;
}

.oa-guide-page{
    background-color: #eeeeee;
    height: 100%;
    min-height: 627px;
}

.oa-guide-container{
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.oa-guide-contents{
    display: inline-block;
    width: 300px;
    background-color: #ffffff;
    height: calc(100% - 20px);
    margin: 10px;
    margin-right: 0;
    box-sizing: border-box;
    border-right: 1px solid #c1c1c1;
    vertical-align: top;
    padding: 5px;
}

.oa-guide-article-container{
    display: inline-block;
    margin: 10px 10px 10px 0;
    width: calc(100% - 300px - 20px - 10px - 20px);
    background-color: #ffffff;
    height: calc(100% - 20px);
    vertical-align: top;
    overflow: auto;
    font-size: 0;
}

.oa-guide-contents-title{
    font-size: 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #FF6D00;
    font-weight: 700;
    margin-left: 5px;
}

.oa-guide-contents-list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    margin: 5px;
}

.oa-guide-contents-list li{
    margin-top: 3px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}

.oa-guide-contents-list a{
    text-decoration: none;
    color: #000000;
}

.oa-guide-contents-list li:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.oa-guide-article{
    margin: 10px 10px 10px;
}

.oa-guide-article h3{
    font-size: 16px;
    color: #FF6D00;
    margin: 0;
    padding-left: 10px;
}

.oa-guide-article div{
    min-height: 200px;
}

.oa-main-ex-charts-hover{
    background-color: #c1c1c1;
}

.oa-main-ex-charts-hover span{
    display: none;
}










