<div class="oa-custom-report">
    <div class="oa-custom-start">
        <fieldset>
            <legend>Start period</legend>
            <label for="oa-custom-start-year">Select a year</label>
            <select name="oa-custom-start-year" id="oa-custom-start-year">
                <option>- All -</option>
            </select><br/>

            <label for="oa-custom-start-month">Select a month</label>
            <select name="oa-custom-start-month" id="oa-custom-start-month">
                <option>- All -</option>
            </select><br/>

            <label for="oa-custom-start-week">Select a week</label>
            <select name="oa-custom-start-week" id="oa-custom-start-week">
                <option>- All -</option>
            </select><br/>

            <label for="oa-custom-start-day">Select a day</label>
            <select name="oa-custom-start-day" id="oa-custom-start-day">
                <option>- All -</option>
            </select>
        </fieldset>
    </div>
    <div class="oa-custom-end">
        <fieldset>
            <legend>End period</legend>
            <label for="oa-custom-end-year">Select a year</label>
            <select name="oa-custom-end-year" id="oa-custom-end-year">
                <option>- All -</option>
            </select><br/>

            <label for="oa-custom-end-month">Select a month</label>
            <select name="oa-custom-end-month" id="oa-custom-end-month">
                <option>- All -</option>
            </select><br/>

            <label for="oa-custom-end-week">Select a week</label>
            <select name="oa-custom-end-week" id="oa-custom-end-week">
                <option>- All -</option>
            </select><br/>

            <label for="oa-custom-end-day">Select a day</label>
            <select name="oa-custom-end-day" id="oa-custom-end-day">
                <option>- All -</option>
            </select>
        </fieldset>
    </div>
    <div class="oa-custom-category">
        <fieldset>
            <legend>Category</legend>
            <label for="oa-custom-category">Select a category</label>
            <select name="oa-custom-category" id="oa-custom-category">
                <option>- All -</option>
            </select>
        </fieldset>
    </div>
</div>