<div class="oa-guide-page">
    <div class="oa-guide-container">
        <div class="oa-guide-contents">
            <span class="oa-guide-contents-title">Для користувача:</span>
            <ul class="oa-guide-contents-list">
                <li><a href="#/guide#a1">Що таке IET-акаунт?</a></li>
                <li><a href="#/guide#a2">Як почати роботу з мобільним додатком?</a></li>
                <li><a href="#/guide#a3">Особисті налаштування</a></li>
                <li><a href="#/guide#a4">Фотографування чеку</a></li>
                <li><a href="#/guide#a5">Синхронізація даних</a></li>
                <li><a href="#/guide#a6">Статистичні звіти</a></li>
            </ul>
        </div>
        <div class="oa-guide-article-container">
            <div class="oa-guide-article">
                <h3><a name="a1">Що таке IET-акаунт?</a></h3>
                <div></div>
            </div>
            <div class="oa-guide-article">
                <h3><a name="a2">Як почати роботу з мобільним додатком?</a></h3>
                <div></div>
            </div>
            <div class="oa-guide-article">
                <h3><a name="a3">Особисті налаштування</a></h3>
                <div></div>
            </div>
            <div class="oa-guide-article">
                <h3><a name="a4">Фотографування чеку</a></h3>
                <div></div>
            </div>
            <div class="oa-guide-article">
                <h3><a name="a5">Синхронізація даних</a></h3>
                <div></div>
            </div>
            <div class="oa-guide-article">
                <h3><a name="a6">Статистичні звіти</a></h3>
                <div></div>
            </div>
        </div>
    </div>
</div>