<div class="oa-main-page" ng-controller="statMain">
    <div class="oa-main-header-container">
        <div class="oa-main-header">
            <div class="oa-main-header-settings">
                <input type="button" title="Settings"/>
            </div>
            <div class="oa-main-header-client">{{name}}</div>
        </div>
    </div>
    <div class="oa-main-body-container">
        <div class="oa-main-body">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Expenses</a></li>
                    <li class="oa-update">
                        <input id="oa-update-btn" type="button" class="oa-update-btn" title="Refresh charts" disabled="true"/>
                    </li>
                </ul>
                <div id="tabs-1" class="oa-tab-page">
                    <div class="oa-main-ex-contents" id="oa-main-ex-contents">
                        <span class="oa-main-ex-contents-title">Available reports</span>
                        <ul class="oa-ex-contents">
                            <li class="oa-ex-contents-item" data-report="r1" id="r1">
                                <img  class="oa-ex-contents-item-img" src="/static/images/line-chart.png"/>
                                <span class="oa-ex-contents-item-title">Main report</span>
                                <span class="oa-ex-contents-item-description">This report displays dynamic of your expenses. By defaults you can see time-line of expenses during last year.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r2" id="r2">
                                <img  class="oa-ex-contents-item-img" src="/static/images/bar-chart.png"/>
                                <span class="oa-ex-contents-item-title">Yearly report</span>
                                <span class="oa-ex-contents-item-description">This report displays your expenses by years. By defaults you can see expenses during all client history.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r3" id="r3">
                                <img  class="oa-ex-contents-item-img" src="/static/images/bar-chart.png"/>
                                <span class="oa-ex-contents-item-title">Monthly report</span>
                                <span class="oa-ex-contents-item-description">This report displays your expenses by months. By defaults you can see expenses during two last years.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r4" id="r4">
                                <img  class="oa-ex-contents-item-img" src="/static/images/bar-chart.png"/>
                                <span class="oa-ex-contents-item-title">Weekly report</span>
                                <span class="oa-ex-contents-item-description">This report displays your expenses by weeks. By defaults you can see expenses during last year.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r5" id="r5">
                                <img  class="oa-ex-contents-item-img" src="/static/images/pie-chart.png"/>
                                <span class="oa-ex-contents-item-title">Report by categories</span>
                                <span class="oa-ex-contents-item-description">This report displays your expenses by categories. By defaults you can see expenses by categories during all client history.</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r6" id="r6">
                                <img  class="oa-ex-contents-item-img" src="/static/images/table.png"/>
                                <span class="oa-ex-contents-item-title">Top-List by categories</span>
                                <span class="oa-ex-contents-item-description">Top list of your expenses</span>
                            </li>
                            <li class="oa-ex-contents-item" data-report="r7" id="r7">
                                <img  class="oa-ex-contents-item-img" src="/static/images/custom.png"/>
                                <span class="oa-ex-contents-item-title">Custom report</span>
                                <span class="oa-ex-contents-item-description">Create your custom report. Add filters, and get the report you want.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="oa-main-ex-charts" id="oa-main-ex-charts">
                        <span class="oa-main-ex-chart-zone-l1">Click on the report</span>
                        <span class="oa-main-ex-chart-zone-l2">that you want to open</span>
                        <span class="oa-main-ex-chart-zone-l3">(from the list on the left)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>