{% extends "registration/registration_base.html" %}
{% load i18n %}

{#{% block title %}{% trans "Activation email sent" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<p>{% trans "Please check your email to complete the registration process." %}</p>#}
{#{% endblock %}#}

{% block title %}{% trans "Registration complete" %}
{% endblock %}

{% block content %}
    <p>{% trans "Now you have access to the web-sites' main features. Click " %}<a href="/main">{% trans "here" %}</a>{% trans " to continue" %}</p>
{% endblock %}

{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}